#veicolo{
    background: rgba(79, 77, 77, 0.838);
}

#veicolo:hover{
    background: #3745dda5;
    transform: scale(110%);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    transition-duration: 145ms;
}


